<!doctype html>
<!-- top   顶部 -->

<div class="layui-header">
        <div class="layui-logo">网站管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!-- <ul class="layui-nav layui-layout-left">   -->
            <!-- <li class="layui-nav-item"><a href="__URL2__/html/index.html">静态文件生成</a></li> -->
            <!-- <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li> -->
        <!-- </ul> -->
        <ul class="layui-nav layui-layout-right">
            <li class="fa fa-user layui-nav-item" style="font-size:18px;">{{.User_username}}</li>
            <li class="layui-nav-item" style="font-size:18px;"><a class="fa fa-power-off" href="/close/">退出</a></li>
        </ul>
    </div>

