<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LINUX集群管理-后台管理</title>
    <link rel="shortcut icon" href="/public/logo.ico" type="image/icon">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <!-- <link href="/admin/ui.css"> -->
    
    <link rel="stylesheet" href="/public/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/public/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    
</head>