<!doctype html>
<!-- left  左侧 -->


<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">服务器列表</a>
                <dl class="layui-nav-child">
                    <dd><a class="fa fa-cubes" href="/index.html">主机列表(管理)</a></dd>
                </dl>
            </li>

        </ul>
    </div>
</div>